
<div class="login_page_wrapper">
<div id="header_wrapper">
<h1> Welcome to YallaChat. </h1>
<h2> Israeli and Palestinian Youth Connect Online.</h2>
</div>
<div id="container-wrapper">
<%= form_for @user, {url:session_path} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 <!--  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 -->
  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://blog.godreports.com/wp-content/uploads/2011/09/israeli-palestinian-boys-110c9.jpg" alt="boys">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="http://www.seattlestar.net/wp-content/uploads/2012/03/MSCE_still4_Adi_keffia_hi-res-1024x681.jpg?780fba" alt="girls">
      <div class="carousel-caption">
        ... -->
    <!--   </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->  


















<div class="login_wrapper">
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
</div>
<div id="Sign_Up">
<h4>New to YallaChat? Sign Up <%= link_to "Here", new_user_path%>
<% end %>


</h4>
</div>
</div>
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> </button>
-->










