<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Birthday</th>
      <th>Nationality</th>
      <th>City</th>
      <th>Username </th>
      <th>Password</th>
      <th>Password confirmation</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.fullname %></td>
        <td><%= user.age %></td>
        <td><%= user.birthday %></td>
        <td><%= user.nationality %></td>
        <td><%= user.city %></td>
        <td><%= user.username%></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="new_user_link">
<%= link_to 'New User', new_user_path %>
</div>